body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.logo {
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
}
.logoblack {
  color: black;
  font-family: "Raleway";
  font-style: normal;
}
.bold {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  height: 31px;
  width: 145px;
  left: 215px;
  top: 1688px;
}
.bottom {
  background: #2f303a;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
}
.logoblackw {
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
}
.logobottom {
  padding: 60px 1240px 161px 215px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.info {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1769px;
}
.infom {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1769px;
  text-decoration-line: underline;
}
.space {
  font-weight: 700;

  line-height: 24px;
  margin: 60px 215px 60px;
  position: absolute;
  list-style-position: inside;
  padding-left: 0;
}
.streat {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  line-height: 24px;
  width: 247px;
  height: 21px;
  left: 215px;
  top: 1739px;
}
