body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.web_one {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}
h1 {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.button_web_one {
  cursor: pointer;
  border: none;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.button_web_ones {
  width: 117px;
  height: 30px;
  left: 742px;
  top: 440px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  display: flex;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.logo {
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
}
.logoblack {
  color: black;
  font-family: "Raleway";
  font-style: normal;
}

.bold {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  height: 31px;
  width: 145px;
  left: 215px;
  top: 1688px;
}
.bottom {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;

  background: #2f303a;
}
.bottoms {
  background: #2f303a;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
}
.wite {
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
}
.info {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  width: 231px;
  height: 21px;
}
.infoo {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  width: 231px;
  height: 21px;
}
.infom {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
}
.space {
  margin-left: 215px;
  list-style-position: inside;
}
.streat {
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  line-height: 24px;
  width: 247px;
  height: 21px;
  left: 215px;
  top: 1739px;
}
.buttons-style {
  cursor: pointer;
  border: none;
}
